@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@layer utilities {
  
  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-6 lg:px-20 sm:px-0;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

 

}

/* NavbarAnimated */

.navbar2 {
  
  padding: 10px 0;
  background-color: #C7F9CC;
  color: black;
 
  
}

.navbarAnimated {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  color: white;
  max-width: 98%; 
}
.navbarAnimated.scrolled {
  padding: 10px 0;
  background-color: #C7F9CC;
  color: black;
  margin: 1rem 1rem; /* Centers with margin on all sides */
  max-width: 98%; 
  
}

.menu {
  font-weight: 500;
}

.logo {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  padding: 0.5rem;
}

.active-img {
  border-color: #C7F9CC;
}

.carousel-item > img {
  height: 500px;
}

.btn {
  background-color: #C7F9CC;
  color: black;
}